@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(233, 47%, 7%);
    font-family: "Inter";
    font-size: 15px;
}

.card {
    background-color: hsl(244, 38%, 16%)
}

.accent {
    color: hsl(277, 64%, 61%);
}

.white-1 {
    color: hsla(0, 0%, 100%, 0.6)
}

.fi {
    font-family: "Inter", sans-serif;
}

#right {
    background: url("./images/image-header-desktop.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

#right > div {
    width: 100%;
    height: 100%;
    background-color: rgba(170, 92, 219, 0.35)
}   

@media (max-width: 768px) {
    .card {
        height: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .card div {
        width: 100%;
        height: 75%;
    }
    #right {
        width: 100%;
        height: 200px;
    }
    .info {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .info div {
        padding-right: 0;
        text-align: center;
        padding-top: 1.5rem;
    }
}